obj/
bin/
build/
buildIIS/
buildIos/
buildDroid/
buildLib/
buildPcl/
packaging/
packagingRoot/
packages/
*.suo
*.fake/*
*.suo
*.vs/*
TinyRest/.fake/*
TinyRest/.vs/TinyRest/v14/.suo
TinyRest/.vs/TinyRest/v14/.suo
*.userprefs
